* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #242424
}

header {
    background: #d89a1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: #242424 3px solid;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#logo {
    position: relative;
    padding: 2px;
    display: flex;
    font-family: "Margarine", sans-serif;;
    align-items: center;
}

#logo p{
    padding-left: 8px;
}

#logo img {
    width: 70px;
}

@media only screen and (max-width: 600px) {
    #logo p {
        display: none;
    }

    #logo img {
        width: 45px;
    }

    nav a {
        font-size: 12px;
    }

    #contato{
        font-size: 8px;
    }
}

ul {
    list-style: none;
    display: flex;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: #000000;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    color: #ffffff;
    transition: all 1s;
    border-bottom: 2px solid #ffffff;
}

#contato{
    background: #242424;
    padding: 12px;
    border-radius: 16px;
}

#contato a{
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#contato a:hover{
    color: #d89a1d;
    transition: all 0.6s;
}

#main-c{
    background: #3434341c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    margin: 8px auto;
    border: 1px solid #d89a1d41;
    border-radius: 12px;
    width: 355px;
}

#main-c img{
    margin-bottom: 20px;
}

#main-c i{
    display: flex;
    margin: 8px;
}

#main-c a{
    align-items: center;
    margin: 12px;
    font-size: 24px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    display: flex;
    color: #ffffff;
    padding: 8px 24px;
    text-decoration: none;
}

footer{
    background: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
}

#by{
    margin: 12px 0px;
}

#by a{
    color: #ffffff;
    text-decoration: none;
}

#by h2{
    font-family: "Arsenal SC", sans-serif;
    font-size: 24px;
}

#icons a{
    width: 36px;
    font-size: 36px;
}

#icons{
    display: flex;
    justify-content: space-between;
}

#icons a:hover{
    color: #d89a1d;
    transition: all 0.6s ease;
}