* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #242424
}

header {
    background: #d89a1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: #242424 3px solid;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#logo {
    position: relative;
    padding: 2px;
    display: flex;
    font-family: "Margarine", sans-serif;;
    align-items: center;
}

#logo p{
    padding-left: 8px;
}

#logo img {
    width: 70px;
}

@media only screen and (max-width: 600px) {
    #logo p {
        display: none;
    }

    #logo img {
        width: 45px;
    }

    nav a {
        font-size: 12px;
    }

    #contato{
        font-size: 8px;
    }
}

ul {
    list-style: none;
    display: flex;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: #000000;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
    color: #ffffff;
    transition: all 1s;
    border-bottom: 2px solid #ffffff;
}

#contato a{
    padding: 12px;
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#contato a:hover{
    color: #d89a1d;
    transition: all 0.6s;
}

h1{
    margin-top: 28px;
    color: #ffffff34;
    font-size: 72px;
}

.content img{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .content{
        flex-direction: column;
    }

    .content img{
        margin: auto;
    }
}

#sobre{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.texto p{
    padding: 8px;
}

.texto{
    display: flex;
    flex-direction: column;
}

.content{
    width: 90%;
    margin-bottom: 12px;
    background-color: #ffffff0d;
    border: #ffffff14 1px solid;
    border-radius: 8px;
    justify-content: center;
    padding: 18px;
    display: flex;
    color: #ffffff;
}

footer{
    background: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
}

#by{
    margin: 12px 0px;
}

#by a{
    color: #ffffff;
    text-decoration: none;
}

#by h2{
    font-family: "Arsenal SC", sans-serif;
    font-size: 24px;
}

#icons a{
    width: 36px;
    font-size: 36px;
}

#icons{
    display: flex;
    justify-content: space-between;
}

#icons a:hover{
    color: #d89a1d;
    transition: all 0.6s ease;
}